{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}
    {% trans "Sign in" %}
{% endblock head_title %}
{% block content %}
    <section class="px-3 py-5" aria-label="Login section">
        <div class="container px-0">
            <div class="row">
                <div class="content">
                    <h2>{% trans "Sign in" %}</h2>
                    <p>
                        {% blocktrans %}Welcome to Read Between the Vines! To track your reading progess or leave a comment, please log in. If you have not created an account yet, then <a class="link-beige" href="{{signup_url}}">sign up</a> first.{% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="content">
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                            <input type="hidden"
                                   name="{{ redirect_field_name }}"
                                   value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-primary" type="submit">{% trans "Sign in" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
