{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Home content -->
    <!-- Home hero -->
    <section id="home-hero" class="hero mx-3" aria-label="Hero section">
        <div class="container-xxl hero-container">
            <div class="hero-video-container">
                <div class="hero-video-outer">
                    <div class="hero-video">
                        <div class="media-wrapper">
                            <video autoplay
                                   muted
                                   playsinline
                                   loop
                                   preload="none"
                                   poster="{% static 'images/home-hero-video-poster.webp' %}"
                                   width="1280"
                                   height="720">
                                <source src="{% static 'videos/home-hero-video-720p.mp4' %}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-content-container d-flex align-items-center">
                <div class="hero-content d-flex flex-column justify-content-center align-items-center">
                    <h1 class="text-center mb-4">Ink-stained hands. Candlelit pages. Timeless stories.</h1>
                    <p class="text-center mb-5">
                        Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam.
                    </p>
                    <div class="button-group d-flex gap-2 flex-wrap justify-content-center">
                        <button type="button" class="btn btn-secondary">View all books</button>
                        <button type="button" class="btn btn-primary">Sign up now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End home hero -->
    <!-- Currently reading books sections -->
    {% for book in currently_reading_books %}
        <section class="px-3 py-5" aria-label="Book currently being read section">
            <div class="container px-0">
                {% if forloop.counter0|divisibleby:"2" %}
                    <div class="row g-4">
                    {% else %}
                        <div class="row flex-lg-row-reverse g-4">
                        {% endif %}
                        <div class="col-12 col-lg-6 d-lg-flex flex-lg-column justify-content-lg-center align-items-lg-start pe-lg-4">
                            <h2 class="text-center text-lg-start">Currently reading: {{ book.title }}</h2>
                            <p class="text-center text-lg-start">{{ book.excerpt }}</p>
                        </div>
                        <div class="col-12 col-lg-6 ps-lg-4"></div>
                    </div>
                </div>
            </section>
        {% empty %}
            <section class="px-3 py-5" aria-label="Book currently being read section">
                <div class="container px-0">
                    <h2 class="text-center text-lg-start">Sorry...</h2>
                    <p>There is currently no book being read by the club. Please check back later!</p>
                </div>
            </section>
        {% endfor %}
        <!-- End currently reading books sections -->
        <!-- To be read books section -->
        <section class="bg-beige px-3 py-5" aria-label="Books to be read section">
            <div class="container px-0 text-center">
                <div class="section-title">
                    <h2 class="text-center">To be read/reading list title</h2>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam.
                    </p>
                </div>
                <button type="button" class="btn btn-secondary">View all books</button>
                <div class="row g-4 mt-4">
                    {% for book in to_be_read_books %}
                        <div class="col-12 col-lg-4">
                            <h3 class="text-center">{{ book.title }}</h3>
                            <p class="text-center">{{ book.excerpt }}</p>
                            <a href="" class="read-more link-green">Read more</a>
                        </div>
                    {% empty %}
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End to be read books section -->
        {% include "includes/footer-cta.html" %}
        <!-- End home content -->
    {% endblock %}
