{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- Home content -->
  <section id="home-hero" class="hero" aria-label="Hero Section">
    <div class="container-xxl hero-container">
      <div class="hero-video">
        <video autoplay
               muted
               playsinline
               loop
               preload="none"
               poster="{% static 'images/home-hero-video-poster.webp' %}"
               width="1280"
               height="720">
          <source src="{% static 'videos/home-hero-video-720p.mp4' %}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="hero-content d-flex flex-column">
        <h1>Ink-stained hands. Candlelit pages. Timeless stories.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam.</p>
        <button type="button" class="btn btn-primary">View all books</button>
        <button type="button" class="btn btn-secondary">Sign up now</button>
      </div>
    </div>
  </section>
  <!-- End home content -->
{% endblock %}
