<!-- Currently reading books sections -->
{% for book in currently_reading_books %}
    <section id="currently-reading"
             class="px-3 py-5"
             aria-label="Book currently being read section">
        <div class="container px-0">
            {% if forloop.counter0|divisibleby:"2" %}
                <div class="row g-4">
                {% else %}
                    <div class="row flex-lg-row-reverse g-4">
                    {% endif %}
                    <div class="col-12 col-lg-6 d-lg-flex flex-lg-column justify-content-lg-center align-items-lg-start pe-lg-4">
                        <h2 class="text-center text-lg-start">Currently reading: {{ book.title }}</h2>
                        <p class="text-center text-lg-start">{{ book.excerpt }}</p>
                    </div>
                    <div class="col-12 col-lg-6 ps-lg-4"></div>
                </div>
            </div>
        </section>
    {% empty %}
        <section class="px-3 py-5" aria-label="Book currently being read section">
            <div class="container px-0">
                <h2 class="text-center text-lg-start">Sorry...</h2>
                <p>There is currently no book being read by the club. Please check back later!</p>
            </div>
        </section>
    {% endfor %}
    <!-- End currently reading books sections -->
