{% load static %}
{% url "home" as home_url %}
<!-- Currently reading books sections -->
{% for book in currently_reading_books %}
    <section id="currently-reading"
             class="px-3 py-5"
             aria-label="Book currently being read section">
        <div class="container px-0">
            {% if request.path != home_url and forloop.counter0 == 0 %}
                <div class="section-title text-center mb-5">
                    <h2>In the midst of the journey</h2>
                    <p>
                        These books are our current companions on the journey of reading. Whether we're lost in a thrilling mystery or captivated by a poignant narrative, these stories are unfolding one page at a time. Join us in the adventure!
                    </p>
                </div>
            {% endif %}
            {% if forloop.counter0|divisibleby:"2" %}
                <div class="row g-4">
                {% else %}
                    <div class="row flex-lg-row-reverse g-4">
                    {% endif %}
                    <div class="col-12 col-lg-6 pe-lg-4 pt-lg-3 mt-lg-0 d-flex justify-content-stretch">
                        <div class="book-content-container d-flex flex-column justify-content-lg-center align-items-lg-start">
                            {% if request.path != home_url %}
                                <div class="category">{{ book.category_label }}</div>
                                <h3 class="text-center text-lg-start">{{ book.title }}</h3>
                            {% else %}
                                <h2 class="text-center text-lg-start">Currently reading: {{ book.title }}</h2>
                            {% endif %}
                            <p class="text-center text-lg-start">{{ book.excerpt }}</p>
                            <a href="{% url 'books:book_detail' book.slug %}"
                               class="btn btn-primary mt-3">Go to book</a>
                            <div class="reading-progess mt-5 w-100">
                                <div class="club-progress mt-5">
                                    <h6>Book club reading progress:</h6>
                                    <div class="progress mb-3">
                                        <div class="progress-bar bg-success"
                                             role="progressbar"
                                             style="width: {{ book.avg_progress }}%"
                                             aria-valuenow="{{ book.avg_progress }}"
                                             aria-valuemin="0"
                                             aria-valuemax="100">{{ book.avg_progress }}%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 ps-lg-4 pt-lg-3 mt-lg-0 d-flex justify-content-center">
                        <a class="book-cover"
                           href="{% url 'books:book_detail' book.slug %}"
                           title="{{ book.title }}">
                            {% if "placeholder" in book.featured_image.url %}
                                <img src="{% static "images/book-placeholder.png" %}"
                                     alt="Book Placeholder Image"
                                     class="book">
                            {% else %}
                                <img src="{{ book.featured_image.url }}"
                                     alt="{{ book.title }}"
                                     class="book">
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            {% if forloop.last %}
                <div class="currently-reading-bg-icon">
                    <img src="{% static 'images/currently-reading-filigree.svg' %}" alt="">
                </div>
            {% endif %}
        </section>
    {% empty %}
        <section class="px-3 py-5" aria-label="Book currently being read section">
            <div class="container px-0">
                <h2 class="text-center text-lg-start">Sorry...</h2>
                <p>There is currently no book being read by the club. Please check back later!</p>
            </div>
            <div class="currently-reading-bg-icon">
                <img src="{% static 'images/currently-reading-filigree.svg' %}" alt="">
            </div>
        </section>
    {% endfor %}
    <!-- End currently reading books sections -->
