{% load static %}
{% url "home" as home_url %}
<!-- Currently reading books sections -->
{% for book in currently_reading_books %}
    <section id="currently-reading"
             class="px-3 py-5"
             aria-label="Book currently being read section">
        <div class="container px-0">
            {% if forloop.counter0|divisibleby:"2" %}
                <div class="row g-4">
                {% else %}
                    <div class="row flex-lg-row-reverse g-4">
                    {% endif %}
                    <div class="col-12 col-lg-6 pe-lg-4 pt-lg-3 mt-lg-0 d-flex justify-content-stretch">
                        <div class="book-content-container d-flex flex-column justify-content-lg-center align-items-lg-start">
                            {% if request.path != home_url %}<div class="category">{{ book.category_label }}</div>{% endif %}
                            <h2 class="text-center text-lg-start">Currently reading: {{ book.title }}</h2>
                            <p class="text-center text-lg-start">{{ book.excerpt }}</p>
                            <a href="{% url 'books:book_detail' book.slug %}"
                               class="btn btn-primary mt-3">Go to book</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 ps-lg-4 pt-lg-3 mt-lg-0 d-flex justify-content-center">
                        <a href="{% url 'books:book_detail' book.slug %}"
                           title="{{ book.title }}">
                            {% if "placeholder" in book.featured_image.url %}
                                <img src="{% static "images/book-placeholder.png" %}"
                                     alt="Book Placeholder Image"
                                     class="book">
                            {% else %}
                                <img src="{{ book.featured_image.url }}"
                                     alt="{{ book.title }}"
                                     class="book">
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            {% if forloop.last %}
                <div class="currently-reading-bg-icon">
                    <img src="{% static 'images/currently-reading-filigree.svg' %}" alt="">
                </div>
            {% endif %}
        </section>
    {% empty %}
        <section class="px-3 py-5" aria-label="Book currently being read section">
            <div class="container px-0">
                <h2 class="text-center text-lg-start">Sorry...</h2>
                <p>There is currently no book being read by the club. Please check back later!</p>
            </div>
            <div class="currently-reading-bg-icon">
                <img src="{% static 'images/currently-reading-filigree.svg' %}" alt="">
            </div>
        </section>
    {% endfor %}
    <!-- End currently reading books sections -->
