{% load static %}
<!-- Finished reading books section -->
<section class="px-3 py-5" aria-label="Finished reading books section">
    <div class="container px-0 text-center">
        <div class="section-title">
            <h2 class="text-center">The stories we've closed</h2>
            <p class="text-center">
                These books have been read, savored, and loved. They hold the marks of our journey and the memories of each chapter. Explore the titles we've finished, and perhaps find your next favorite.
            </p>
            <a href="{% url 'books:books_archive' %}" class="btn btn-secondary mt-3">View all finished books</a>
        </div>
        <div class="row g-4 mt-4 justify-content-center">
            {% for book in finished_reading_books %}
                <div class="col-12 col-lg-4">
                    <a href="{% url 'books:book_detail' book.slug %}"
                       title="{{ book.title }}">
                        {% if "placeholder" in book.featured_image.url %}
                            <img src="{% static "images/book-placeholder.png" %}"
                                 alt="Book Placeholder Image"
                                 class="book mb-3">
                        {% else %}
                            <img src="{{ book.featured_image.url }}"
                                 alt="{{ post.title }}"
                                 class="book mb-3">
                        {% endif %}
                    </a>
                    <div class="category">{{ book.category_label }}</div>
                    <h3 class="text-center">
                        <a href="{% url 'books:book_detail' book.slug %}"
                           title="{{ book.title }}">{{ book.title }}</a>
                    </h3>
                    <p class="text-center">{{ book.excerpt }}</p>
                    <a href="{% url 'books:book_detail' book.slug %}"
                       class="read-more link-beige">Read more</a>
                </div>
            {% empty %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- End to be read books section -->
