<!-- To be read books section -->
<section class="bg-beige px-3 py-5" aria-label="Books to be read section">
  <div class="container px-0 text-center">
    <div class="section-title">
      <h2 class="text-center">To be read/reading list title</h2>
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit
        phasellus mollis sit aliquam sit nullam.
      </p>
    </div>
    <button type="button" class="btn btn-secondary">View all books</button>
    <div class="row g-4 mt-4">
      {% for book in to_be_read_books %}
      <div class="col-12 col-lg-4">
        <h3 class="text-center">{{ book.title }}</h3>
        <p class="text-center">{{ book.excerpt }}</p>
        <a href="" class="read-more link-green">Read more</a>
      </div>
      {% empty %} {% endfor %}
    </div>
  </div>
</section>
<!-- End to be read books section -->
