{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
    {% trans "404: Page not found" %}
{% endblock head_title %}
{% block content %}
    <section class="px-3 py-5">
        <div class="container px-0">
            <div class="content">
                <div class="row">
                    <h1 class="mb-4">Error 404: Page not found</h1>
                    <p>The page you're looking for doesn't exist or has been moved.</p>
                    <a href="{% url 'home' %}" class="btn btn-primary mt-4">Return home</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
