{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
    {% trans "Books Archive" %}
{% endblock head_title %}
{% load static %}
{% load static %}
{% block content %}
    <!-- Books archive content -->
    <!-- Books archive hero -->
    <section id="books-archive-hero" class="hero" aria-label="Hero section">
        <div class="hero-container mx-3">
            <div class="container-xxl hero-container bg-green">
                <div class="hero-bg-img-container">
                    <img srcset="{% static 'images/books-archive-hero-mobile.webp' %} 390w,
                                 {% static 'images/books-archive-hero-desktop.webp' %} 1220w"
                         sizes="(max-width: 600px) 390px,
                                1220px"
                         src="{% static 'images/books-archive-hero-desktop.webp' %}"
                         alt="A wall with three archways surrounded bookcases filled with old books, surrounded by draping foliage and fairy lights">
                </div>
                <div class="hero-content-container d-flex align-items-center">
                    <div class="hero-content d-flex flex-column justify-content-center align-items-center">
                        <h1 class="text-center mb-4">A Collection of Timeless Tales</h1>
                        <p class="text-center mb-5">
                            Welcome to the archive of completed books. These stories have journeyed from cover to cover, each leaving its unique mark. Browse through our collection of finished reads and revisit the ones that left an impression.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End books hero -->
    <!-- Books archive section -->
    <section id="books-archive-section"
             class="px-3 py-5"
             aria-label="Books archive section">
        <div class="container px-0 text-center">
            <div class="row g-4 mt-4">
                {% for book in books_archive %}
                    <div class="col-12 col-lg-4">
                        <a class="book-cover"
                           href="{% url 'books:book_detail' book.slug %}"
                           title="{{ book.title }}">
                            {% if "placeholder" in book.featured_image.url %}
                                <img src="{% static "images/book-placeholder.webp" %}"
                                     alt="Book Placeholder Image"
                                     class="book mb-3">
                            {% else %}
                                <img src="{{ book.featured_image.url }}"
                                     alt="{{ post.title }}"
                                     class="book mb-3">
                            {% endif %}
                        </a>
                        <div class="category">{{ book.category_label }}</div>
                        <h3 class="text-center">
                            <a href="{% url 'books:book_detail' book.slug %}"
                               title="{{ book.title }}">{{ book.title }}</a>
                        </h3>
                        <p class="text-center">{{ book.excerpt }}</p>
                        <a href="" class="read-more link-beige">Read more</a>
                    </div>
                {% empty %}
                {% endfor %}
            </div>
            {% if is_paginated %}
                <nav aria-label="Page navigation" class="mt-5">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}"
                                   class="link-beige read-more"><i class="fa-solid fa-arrow-left"></i> PREV</a>
                            </li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li>
                                <a href="?page={{ page_obj.next_page_number }}"
                                   class="link-beige read-more">NEXT <i class="fa-solid fa-arrow-right"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
        <div class="books-archive-bg-icon">
            <img src="{% static 'images/currently-reading-filigree.svg' %}" alt="">
        </div>
    </section>
    {% include "includes/footer_cta.html" %}
{% endblock %}
