{% extends 'base.html' %}
{% load i18n %}
{% block head_title %}
    {% trans book.title %}
{% endblock head_title %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Book detail hero -->
    <section id="book-detail-hero" class="px-3 py-5" aria-label="Book detail hero">
        <div class="container px-0">
            <div class="row flex-lg-row-reverse g-4">
                <div class="col-12 col-lg-6 ps-lg-4 pt-lg-3 mt-lg-0 d-flex justify-content-center">
                    <div class="book-content-container d-flex flex-column justify-content-lg-center align-items-lg-start">
                        <div class="category">{{ book.category_label }}</div>
                        <h1 class="text-center text-lg-start">{{ book.title }}</h1>
                        <p class="text-center text-lg-start">{{ book.excerpt }}</p>
                        <div class="reading-progess mt-5 w-100">
                            <div class="club-progress">
                                <h6>Book club reading progress:</h6>
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-success"
                                         role="progressbar"
                                         style="width: {{ average_progress }}%"
                                         aria-valuenow="{{ average_progress }}"
                                         aria-valuemin="0"
                                         aria-valuemax="100">{{ average_progress }}%</div>
                                </div>
                            </div>
                            {% if user.is_authenticated and user_progress %}
                                <div class="user-progress">
                                    <h6>Your reading progress:</h6>
                                    <div class="progress mb-3">
                                        <div class="progress-bar progress-bar-striped bg-success"
                                             role="progressbar"
                                             style="width: {{ user_progress.percentage }}%"
                                             aria-valuenow="{{ user_progress.percentage }}"
                                             aria-valuemin="0"
                                             aria-valuemax="100">{{ user_progress.percentage }}%</div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <div class="update-progress mt-4">
                                    <h6>Update your progress:</h6>
                                    <form method="post" class="d-flex align-items-center gap-2 flex-wrap">
                                        {% csrf_token %}
                                        {{ progress_form.percentage.label_tag }}
                                        {{ progress_form.percentage }}
                                        <div class="button-group d-flex gap-2 flex-wrap justify-content-center">
                                            <button type="submit" name="progress_submit" class="btn btn-secondary">Update Progress</button>
                                            <button type="button"
                                                    class="btn btn-primary btn-delete-progress"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#deleteProgressModal"
                                                    data-progress-id="{{ user_progress.id }}"
                                                    data-book-slug="{{ book.slug }}">Delete Progress</button>
                                        </div>
                                    </form>
                                </div>
                            {% else %}
                                <p>
                                    <a class="link-beige" href="{% url 'account_login' %}">Log in</a> to track your reading progress.
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 pe-lg-4 pt-lg-3 mt-lg-0">
                    <div class="book-cover d-flex justify-content-stretch">
                        {% if "placeholder" in book.featured_image.url %}
                            <img src="{% static "images/book-placeholder.png" %}"
                                 alt="Book Placeholder Image"
                                 class="book">
                        {% else %}
                            <img src="{{ book.featured_image.url }}"
                                 alt="{{ post.title }}"
                                 class="book">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End book detail content -->
    <!-- Book content -->
    <section id="book-detail-content"
             class="px-3 py-5"
             aria-label="Book detail content">
        <div class="container px-0">
            <div class="row g-4">
                <div class="col-12 col-lg-8 pt-lg-3 pe-lg-5 mt-lg-0">
                    <div class="book-content">{{ book.content | safe }}</div>
                    <div class="share-links mt-5">
                        <h6>Share this book:</h6>
                        <div class="d-flex share-links">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                               target="_blank"
                               title="Share this book on Facebook"><i class="fa-brands fa-facebook"></i></a>
                            <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text=Check this out! "
                               target="_blank"
                               title="Share this book on X"><i class="fa-brands fa-x-twitter"></i></a>
                            <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}"
                               target="_blank"
                               title="Share this book on LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="mailto:?subject=Check this out&body={{ request.build_absolute_uri }}"
                               target="_blank"
                               title="Share this book via email"><i class="fa-solid fa-envelope"></i></a>
                        </div>
                    </div>
                    <div class="back-link mt-5">
                        <a href="{% url 'books:books' %}" class="read-more link-beige"><i class="fa-solid fa-arrow-left"></i> Back to all books</a>
                    </div>
                </div>
                <div class="col-12 col-lg-4 pt-lg-3 mt-lg-0">
                    <div class="sidebar bg-beige p-4 p-lg-5 d-flex flex-column">
                        {% if user.is_authenticated %}
                            <h3>We'd love to hear from you!</h3>
                            <p>Got something to say? Drop your comment below and share your thoughts about this book with the community.</p>
                            <a href="#comment-section" class="btn btn-secondary">Leave a comment</a>
                        {% else %}
                            <h3>Join the conversation</h3>
                            <p>Sign up today to leave your thoughts and join the discussion about this book. We'd love to hear your opinions!</p>
                            <a href="{% url 'account_signup' %}" class="btn btn-secondary">Sign up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End book content -->
    <!-- Comments section -->
    <section id="comment-section"
             class="px-3 py-5"
             aria-label="Book detail comments">
        <div class="container px-0">
            <div class="row">
                <div class="content">
                    <h3 class="mb-5">Comments:</h3>
                    <div class="comments d-flex flex-column">
                        {% for comment in comments %}
                            <div id="comment-{{ comment.id }}"
                                 class="comment{% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                                <p>
                                    <strong>{{ comment.author }}</strong>, {{ comment.created_on }} wrote:
                                </p>
                                <div id="comment-text" class="comment-body">{{ comment.body | linebreaks }}</div>
                                {% if not comment.approved and comment.author == user %}
                                    <p class="approval">This comment is awaiting approval.</p>
                                {% endif %}
                                {% if user.is_authenticated and comment.author == user %}
                                    <div class="button-group d-flex gap-2 flex-wrap">
                                        <button class="btn btn-edit btn-outline" comment_id="{{ comment.id }}">Edit</button>
                                        <button class="btn btn-delete btn-primary"
                                                comment_id="{{ comment.id }}"
                                                slug="{{ book.slug }}">Delete</button>
                                    </div>
                                {% endif %}
                            </div>
                        {% empty %}
                            <p>No comments yet.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="content">
                    {% if user.is_authenticated %}
                        <h3>Leave a comment:</h3>
                        <p>Posting as: {{ user.username }}</p>
                        <form method="post" id="comment-form">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    {% else %}
                        <p>
                            <a class="link-beige" href="{% url 'account_login' %}">Log in</a> to leave a comment
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- End comments section -->
    {% include "includes/footer_cta.html" %}
    <!-- Delete progress modal -->
    <div class="modal fade"
         id="deleteProgressModal"
         tabindex="-1"
         aria-labelledby="deleteProgressModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteProgressModalLabel">Delete progress?</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            data-bs-theme="dark"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your progress?
                    This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form id="deleteProgressForm" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete confirmation modal -->
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            data-bs-theme="dark"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your comment?
                    This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form id="deleteForm" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extras %}
    <script src="{% static 'js/progress.js' %}"></script>
    <script src="{% static 'js/comments.js' %}"></script>
{% endblock %}
